<app-navbar></app-navbar>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <b>Login</b>
    </div>
    <div class="card-body p-4">
      <label style="float: left">Email</label>
      <input class="form-control m-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">
     
      <label style="float: left">Password</label>
      <input class="form-control m-2" type="password"  placeholder="ingrese su password" [(ngModel)]="usuario.password">
     
      <button class="btn btn-primary btn-block m-2" (click)=login()>Login</button>
      <button class="btn btn-primary btn-block m-2" (click)=signin()>Sign in</button>
      <button style="border-color: black; color: rgb(14, 1, 1); background-color: #E5E1E1;" class="btn btn-info btn-block m-2" (click)=loginWithGoogle()>Login with Google</button>

    </div>
    
    
 
  </div>
</div>